<!-- <div fxLayout="column">
  <H1> console dummy </H1>
  <form (submit)="onSubmit()" action="" fxLayout="column">
    <textarea
      matInput
      [(ngModel)]="txtValue"
      name="input"
      cols="30"
      rows="10"
      fxFlex="100"
    ></textarea>
    <button mat-raised-button type="submit" fxFlex="100">
      <mat-icon>sending</mat-icon>
    </button>
  </form>

  <H1> ----------------------------------------- </H1>

  <div fxLayout="column" fxLayoutGap="12px" [style.margin-top]="'12px'">
    <mat-card>
      <div class="mat-body-2">Code compilé</div>
      <div class="mat-body-1">
        Le code écrit en TypeScript est compilé en JavaScript avant d'être
        utilisé : de ce fait, tout code JavaScript valide est du code TypeScript
        valide.
      </div>
    </mat-card>
    <mat-card>
      <div class="mat-body-2">Impératif</div>
      <div class="mat-body-1">
        Se rapproche des langages de type impératif, tels que le Java :
        utilisation de classes, interfaces, héritage ...
      </div>
    </mat-card>
    <mat-card>
      <div class="mat-body-2">Ressources</div>
      <mat-list>
        <mat-list-item>
          <div matLine>
            Sandbox TypeScript :
            <button mat-button>Playground</button>
            <!-- <a
            #playground
            href="http://www.typescriptlang.org/play/"
            target="_blank"
            [style.display]="'none'"
            >TS Playground</a
          > -->
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>
            Documentation :
            <button mat-button>TS Doc</button>
            <!--  <a
            #documentation
            href="http://www.typescriptlang.org/docs/home.html"
            target="_blank"
            [style.display]="'none'"
            >TS Doc</a
          > -->
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div> -->
