<form
  [formGroup]="addressForm"
  novalidate
  (ngSubmit)="onSubmit()"
  class="formSmall"
>
  <mat-card class="mat-elevation-z0">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>formulario de Cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <mat-radio-group formControlName="tipoEmpresa">
          <mat-radio-button value="free">Unipersonal</mat-radio-button>
          <mat-radio-button value="priority">Sociedad</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <div flex fxLayout="50" fxLayout.xs="100">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombres" formControlName="nombres" />
            <mat-error
              *ngIf="addressForm.controls['nombres'].hasError('required')"
            >
              Nombre es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div flex fxLayout="50" fxLayout.xs="100">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Apellidos"
              formControlName="apellidos"
            />
            <mat-error
              *ngIf="addressForm.controls['apellidos'].hasError('required')"
            >
              Apellidos son<strong>Requeridos</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <mat-form-field class="full-width">
          <textarea
            matInput
            placeholder="Direccion"
            formControlName="address"
          ></textarea>
          <mat-error
            *ngIf="addressForm.controls['address'].hasError('required')"
          >
            Direccion <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <div flex fxLayout="50" fxLayout.xs="100">
          <mat-form-field class="full-width">
            <mat-select placeholder="Ciudad" formControlName="state">
              <mat-option
                *ngFor="let state of states"
                [value]="state.abbreviation"
              >
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['state'].hasError('required')"
            >
              Ciudad es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div flex fxLayout="50" fxLayout.xs="100">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Telf. / Celular de Refencia"
              formControlName="telefono"
              type="tel"
            />
            <mat-error
              *ngIf="addressForm.controls['telefono'].hasError('required')"
            >
              N° de Celular es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <label for="">Contador</label>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayout.xs="column">
        <div *ngIf="!tieneContador">
          <button mat-stroked-button (click)="tieneContador = !tieneContador">
            Contador referido
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" *ngIf="tieneContador">
        <div fxLayout="33" fxLayout.xs="100">
          <mat-form-field>
            <input matInput placeholder="busquda nombre de contador " />
          </mat-form-field>
        </div>
        <div fxLayout="33" fxLayout.xs="100" *ngIf="agregarContador">
          <mat-form-field>
            <input matInput placeholder="Ref. celular de Contador" />
          </mat-form-field>
        </div>
        <div fxLayout="33" FxLayout="column" fxLayout.xs="100">
          <div *ngIf="!agregarContador">
            <button
              mat-stroked-button
              (click)="agregarContador = !agregarContador"
            >
              + añadir si no hay resultados de busqueda
            </button>
          </div>
          <div *ngIf="agregarContador">
            <button mat-stroked-button>Asignar contador referido</button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
