.panel{
    margin: 2px 0px;
    padding: 0;
    box-shadow: none;
}

.clientView{
    height: 80px;
    background-color: rgb(237, 237, 237);
}

h4{
    margin: 0;
    padding: 2px 10px;
}

.client-icon {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
}

@media only screen and (min-width: 320px){
    .card-clienteimage{
        width: 110px;
        height: 69px;
    }
}

.card-modelimage{
    width: 80px;
    height: 80px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px black;
    margin-inline-start: 15px;
    margin-block-start: 15px;
}
