<div fxLayoutGap="20px" fxLayout="wrap" fxLayout.xs="column">
  <app-empleado-card></app-empleado-card>
  <app-empleado-card></app-empleado-card>

  <mat-card class="add-card">
    <mat-card-header fxLayoutAlign="center">añadir Cliente</mat-card-header>
    <div class="btn-content">
      <button mat-button color="default" class="addEmpl-card">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <!-- <button mat-fab color="default" style="width: 10em; height: 10em">
      <mat-icon>add</mat-icon>
    </button> -->
  </mat-card>
</div>
<h4>Añadir Empleado</h4>
